/* === Import === 
 * "O @import é usado para importar regras de estilo de outras folhas de estilo"...
 * https://developer.mozilla.org/pt-BR/docs/Web/CSS/@import
 */

 @import url('https://fonts.googleapis.com/css?family=Montserrat');

 /* === Reset ===
  * Alguns navegadores possuem espaçamentos internos e externos
  * diferentes para cada elemento(p, h1, a, ...), para solucionar
  * isso forçamos um "reset" geral da página para não ter surpresas.
  */
 
 * {
     margin: 0;
     padding: 0;
     font-family: 'Montserrat', sans-serif;
     /* Definindo fonte para TODOS os itens */
 }
 
 body {
     background-color: #ecf0f1;
 }
 
 
 /* === Reset ===
  * Algumas imagens possuem resoluções muito acima da tela utilizada
  * para visualizar, causando um scroll horizontal, para solucionar
  * isso forçamos, neste caso, todas as imagens para usarem 100% da
  * largura do elemento pai e que sua altura será automática (auto-redimensionamento).
  */
 
 img {
     width: 100%;
     height: auto;
 }
 
 
 /* Cria um padding inicial para que o conteúdo não fique colado nos cantos */
 
 .container {
     padding: 0 15%;
 }
 
 
 /* Menu Superior */
 
 #brand {
     display: none;
 }
 
 nav {
     background-color: #ffffff;
     height: 55px;
 }
 
 nav ul {
     float: left;
 }
 
 nav li {
     font-size: 20px;
     display: inline-block;
 }
 
 nav>ul>li>a {
     display: block;
     text-decoration: none;
     color: #34495e;
     padding: 15px 10px;
     /* Valores: vertical | horizontal https://developer.mozilla.org/pt-BR/docs/Web/CSS/padding */
     border-bottom: 2px solid transparent;
     /* Valores: tamanho | tipo | cor  https://developer.mozilla.org/pt-BR/docs/Web/CSS/border */
 }
 
 nav>ul>li>a:hover {
     text-decoration: none;
     color: #2c3e50;
     background-color: #dfdfdf;
     border-bottom: 2px solid #3498db;
 }
 
 
 /* Formulário de Busca */
 
 nav #search-div {
     padding: 10px 0;
     float: right;
 }
 
 nav #search-div form {
     float: right;
 }
 
 nav #search-div input {
     height: 28px;
     padding: 0 5px;
     border: 1px solid #ccc;
     border-radius: 2.5px;
 }
 
 #submit-search {
     display: inline-block;
     height: 30px;
     padding: 0 5px;
     background-color: #3498db;
     border: 1px solid #3498db;
     border-radius: 2.5px;
     color: #fff;
 }
 .clearfix {
     clear: both;
 }
 
 
 /* Conteúdo */
 #content {
     margin-top: 20px
 }
 #content .item {
     background-color: #ffffff;
     float: left;
 
     margin-bottom: 10px;
     padding-bottom: 5px;
 
     width: 24%;
 }
 .item p, .item a {
     margin: 10px 15px;
 }
 #content .item:not(:first-child)/* ":first-child": "pseudo-classe que representa qualquer elemento que seja primeiro" https://developer.mozilla.org/pt-BR/docs/Web/CSS/:first-child*/ {
     margin-left: 1.3333%;
 }
 
 
 /* === Media Queries === 
  * Com as media queries é possível alterar completamente ou parcialmente
  * o estilo de um elemento de vários elementos de acordo com a resolução,
  * orientação e tipo de visualização.
  * https://developer.mozilla.org/pt-BR/docs/Web/Guide/CSS/CSS_Media_queries
  */
 @media screen and (min-width: 941px) and (max-width: 1280px) {
    #content .item {
        width: 48%;
        margin-left: 0!important;
    }
    #content .item:nth-of-type(even) {
        margin-left: 4%!important;
    }
 }


 @media screen and (max-width: 940px) {
     /* "not": pseudo-classe de negação https://developer.mozilla.org/pt-BR/docs/Web/CSS/:not*/
     nav>*:not(#brand) {
         display: none;
     }
     #brand {
         text-decoration: none;
         display: inline-block;
         height: 20px;
         margin: 5px 5px;
         padding: 10px;
         background-color: #3498db;
         border: 1px solid #3498db;
         border-radius: 2.5px;
         color: #fff;
     }
     nav ul {
         display: none;
         float: none;
     }
     nav ul li {
         display: block;
     }
     nav #search-div {
         display: none;
         float: none;
         padding: 15px 10px;
     }
     /* Estilos somente quando o elemento possuir a classe .active */
     nav.active {
        height: 100%;
     }
     /* Caso possua mais de um elemento com o mesmo estilo utilize virgula para separar os seletores */
     nav.active>*:not(#brand) {
         display: block;
     }
     nav.active>#search-div {
         display: block
     }
     nav.active>#search-div>form {
         float: none;
     }
     nav.active>#search-div>form>input {
         display: block;
         padding: 0;
         width: 100%;
     }
     nav.active #submit-search {
         display: block;
         width: 100%;
         margin-top: 10px;
     }
 
     #content .item {
         float: none!important;
         margin-left:0!important;
         width: 100%!important;
     }
 }
 
 /* Recomendações
  * Site para consultar documentações sobre propriedades e tirar algumas dúvidas, basta buscar.
  * https://developer.mozilla.org/pt-BR/docs/Web/Guide/CSS
  * =====================================================================
  * Playlist para vocês ficarem feras e reforçarem o conteúdo
  * https://www.youtube.com/watch?v=Z7z8J12hMco&list=PLwXQLZ3FdTVFi6oHo_K4IYDcwCU5-f1x5&index=1
  */